
.id-field {
  display: none;
}

section {
    width: 95%;
    margin: auto;
    padding: 10px;
}

div#tags {
    width: 50%;
    float: left;
    max-height: 200px;
}

div#notes {
    max-height: 200px;
}

form label {
    width:120px;
    clear:left;
}

form input, form label, form textarea {
    float:left;
}
