{% extends "layout.html" %}
{% block body %}
    {{ super() }}
    <section>
        <div id="tags">
            <h2>Avainsanat</h2>
            <ul class="tags">
                {% for tag in tags %}
                <li><span class="id-field">{{tag.id}}</span>{{tag.name|safe}}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="notes">
            <h2>Muistiinpanot</h2>
            <ul class="notes">
                {% for note in notes %}
                <li><span class="id-field">{{ note.id }}</span>{{ note.subject|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section>
    <h2>Lisää uusi muistiinpano</h2>
    <form action="notes" method="post">
        <label for="tags-input">Avainsanat:</label>
        <input id="tags-input" name="tags">
        <label for="subject-input">Aihe:</label>
        <input id="subject-input" name="subject">
        <label for="body-input">Sisältö:</label>
        <textarea rows="5" cols="40" id="body-input" name="body"></textarea>
        <label></label>
        <input type="submit" value="Lisää" />
    </form>
    </section>
{% endblock %}
